{{ define "main"}}

<!--  With caption
  <div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/sponsor_logo/fundacija_za_sport_logo.jpg">
        <img src="/sponsor_logo/fundacija_za_sport_logo.jpg" alt="Lights" style="width:100%">
        <div class="caption">
          <p>Lorem ipsum...</p>
        </div>
      </a>
    </div>
  </div>
-->

<div class="row">
  <div class="col-md-5 col-md-offset-4">
    <h1>Mladinski planinski tabor</h1>
  </div>
</div>
<br />
<br />

<div class="container" role="main">
  <div class="row">

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="http://www.triglav.si">
          <img src="/sponsor_logo/zavarovalnica-triglav.png" 
          title="Zavarovalnica Triglav, d.d." 
          alt="Zavarovalnica Triglav, d.d." > </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="/sponsor_logo/pzs_logo.jpg">
          <img src="/sponsor_logo/pzs_logo.jpg" alt="Planinska zveza Slovenije" style="width:100%">
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="/sponsor_logo/obcina_postojna_logo.jpg">
          <img src="/sponsor_logo/obcina_postojna_logo.jpg" alt="Obcina Postojna" style="width:100%">
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="/sponsor_logo/obcina_pivka_logo.png">
          <img src="/sponsor_logo/obcina_pivka_logo.png" alt="Obcina Pivka" style="width:100%">
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="/sponsor_logo/mi-oskrba.png">
          <img src="/sponsor_logo/mi-oskrba.png" alt="mi-oskrba" style="width:100%">
        </a>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-5 col-md-offset-4">
    <h1>Program</h1>
  </div>
</div>
<br />
<br />

<div class="container" role="main">
  <div class="row">

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="/sponsor_logo/obcina_postojna_logo.jpg">
          <img src="/sponsor_logo/obcina_postojna_logo.jpg" alt="Obcina Postojna" style="width:100%">
        </a>
      </div>
    </div>
    
  </div>
</div>

<div class="row">
  <div class="col-md-5 col-md-offset-4">
    <h1>Zimovanje</h1>
  </div>
</div>
<br />
<br />

<div class="container" role="main">
  <div class="row">

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="/sponsor_logo/obcina_postojna_logo.jpg">
          <img src="/sponsor_logo/obcina_postojna_logo.jpg" alt="Obcina Postojna" style="width:100%">
        </a>
      </div>
    </div>
    
  </div>
</div>


<div class="row">
  <div class="col-md-5 col-md-offset-4">
    <h1>Obnova Vojkove koče na Nanosu</h1>
  </div>
</div>
<br />
<br />

<div class="container" role="main">
  <div class="row">

    <div class="col-md-3">

      <div class="thumbnail">
        <a href="/sponsor_logo/fundacija_za_sport_logo.jpg">
          <img src="/sponsor_logo/fundacija_za_sport_logo.jpg" alt="Fundacija za sport" style="width:100%">
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="/sponsor_logo/jata_emona_logo.jpg">
          <img src="/sponsor_logo/jata_emona_logo.jpg" alt="Jata Emona" style="width:100%">
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="/sponsor_logo/profiles_logo.jpg">
          <img src="/sponsor_logo/profiles_logo.jpg" alt="Profiles" style="width:100%">
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="/sponsor_logo/vet_promet_logo.jpg">
          <img src="/sponsor_logo/vet_promet_logo.jpg" alt="Vet Promet" style="width:100%">
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="/sponsor_logo/adriatic_slovenica_logo.jpg">
          <img src="/sponsor_logo/adriatic_slovenica_logo.jpg" alt="Adriatic Slovenica" style="width:100%">
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="/sponsor_logo/obcina_postojna_logo.jpg">
          <img src="/sponsor_logo/obcina_postojna_logo.jpg" alt="Obcina Postojna" style="width:100%">
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="/sponsor_logo/krka_logo.jpg">
          <img src="/sponsor_logo/krka_logo.jpg" alt="Krka" style="width:100%">
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="/sponsor_logo/liv_logo.jpg">
          <img src="/sponsor_logo/liv_logo.jpg" alt="LIV" style="width:100%">
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="/sponsor_logo/grze_logo.jpg">
          <img src="/sponsor_logo/grze_logo.jpg" alt="Grze" style="width:100%">
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="/sponsor_logo/les3_logo.jpg">
          <img src="/sponsor_logo/les3_logo.jpg" alt="Les3" style="width:100%">
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="/sponsor_logo/poslovni_biser_logo.jpg">
          <img src="/sponsor_logo/poslovni_biser_logo.jpg" alt="Poslovni biser" style="width:100%">
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="/sponsor_logo/animalis_logo.jpg">
          <img src="/sponsor_logo/animalis_logo.jpg" alt="Animalis" style="width:100%">
        </a>
      </div>
    </div>
    
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="/sponsor_logo/epis_logo.jpg">
          <img src="/sponsor_logo/epis_logo.jpg" alt="Epis" style="width:100%">
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="/sponsor_logo/top_dom_logo.jpg">
          <img src="/sponsor_logo/top_dom_logo.jpg" alt="Top dom" style="width:100%">
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="/sponsor_logo/tajfun_liv_logo.jpg">
          <img src="/sponsor_logo/tajfun_liv_logo.jpg" alt="Tajfun liv" style="width:100%">
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="/sponsor_logo/nagode_logo.jpg">
          <img src="/sponsor_logo/nagode_logo.jpg" alt="Tajfun liv" style="width:100%">
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="/sponsor_logo/radio_94_logo.jpg">
          <img src="/sponsor_logo/radio_94_logo.jpg" alt="Tajfun liv" style="width:100%">
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="/sponsor_logo/sping_logo.jpg">
          <img src="/sponsor_logo/sping_logo.jpg" alt="Tajfun liv" style="width:100%">
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="/sponsor_logo/intersport_logo.png">
          <img src="/sponsor_logo/intersport_logo.png" alt="Tajfun liv" style="width:100%">
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="/sponsor_logo/RailCargoCarrier+OBB_logo.png">
          <img src="/sponsor_logo/RailCargoCarrier+OBB_logo.png" alt="Tajfun liv" style="width:100%">
        </a>
      </div>
    </div>


    <div class="col-md-3">
      <div class="thumbnail">
        <a href="/sponsor_logo/logo48let.png">
          <img src="/sponsor_logo/logo48let.png" alt="Tajfun liv" style="width:100%">
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="/sponsor_logo/REC.jpg">
          <img src="/sponsor_logo/REC.jpg" alt="REC" style="width:100%">
        </a>
      </div>
    </div>

  </div>
</div>
{{ end }}